/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */
html {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px; /* Default font size */
    line-height: 1.6; /* Default line height */
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  h1 {
    font-size: 1.5em; 
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  @media screen and (min-width: 768px) {
    h1 {
        font-size: 3em; 
    }
  }
  
  p {
    margin: 0;
    padding: 0;
    font-size: 1em; 
    font-weight: 400;
    line-height: 1.2;
  }

  @media screen and (min-width: 768px) {
    p {
        font-size: 1.5em; 
    }
  }

 
  /* General Styles */
body {
    height: 100%;
    margin: 0;
    padding-top: 30px;
    background-color: #000; 
    color: #fff; 
  }

  main {
    min-height: 100vh; 
    padding-bottom: 60px; 
  }
  
  a {
    color: #fff; 
    text-decoration: underline     
  }

  @media screen and (min-width: 768px) {
    a {
        font-size: 1.5em; 
    }
  }

  
  a:hover {
    color: #AAFF00;
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  @media screen and (min-width: 768px) {
    .centered-content {
        max-width: 1100px; /* Set a max-width for your content */
        margin: 0 auto; /* Center the content block */
        padding: 60px; /* Increase padding for more breathing space */
    }
  }

  #img-large-centered {
    max-width: 100%;  /* Ensures the image is never larger than the viewport */
    width: auto;  /* Maintains the aspect ratio */
    height: auto; /* Maintains the aspect ratio */
    padding: 40px;
  }
  
  @media screen and (min-width: 768px) {
    #img-large-centered {
        max-width: 60%; /* Adjust the image size */
        padding: 30px; /* Adjust the padding around the image */
    }
  }