/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */
html {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px; /* Default font size */
    line-height: 1.6; /* Default line height */
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /* Additional styles */
  }
  
  p {
    margin: 0;
    padding: 0;
    /* Additional styles */
  }

  /* General Styles */
body {
    background-color: #000; 
    color: #fff; 
  }
  
  a {
    color: #fff; 
    text-decoration: none;
  }
  
  a:hover {
    color: #0dab22;
  }
  
  button {
    /* Button styles */
  }

  /* Layout Components */
header {
    /* Header styles */
  }
  
  /* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.nav-social-links {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none; 
}

.nav-social-links li {
  margin-right: 20px;
}

.nav-social-links li:last-child {
  margin-right: 0;
}

.logo a {
  font-size: 24px; 
  font-weight: bold; 
  text-decoration: none; 
}

.logo a {
  font-size: 24px; 
  font-weight: bold; 
  text-decoration: none; 
}

  
  #main-content {
    /* Main content styles */
    padding: 5em;
  }
  
  footer {
    /* Footer styles */
  }
