/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */
html {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px; /* Default font size */
    line-height: 1.6; /* Default line height */
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

/* General Styles */

html, body {
  overflow-x: auto;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Override default margin */
    background-color: #000; 
    color: #fff; 
  }

  

main {
   flex: 1; /*Allows the main content to expand and fill available space */
   padding: 20px; /* Adjust as needed */
   padding-bottom: 60px; 
  }
  
  /* a {
    color: #fff; 
    text-decoration: none;
  }
  
  a:hover {
    color: #AAFF00;
  } */
  

  /* Button styles */


  /* Layout Components */

header {
    /* Header styles */
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; /* Add this to align the nav to the left edge of the viewport */
    right: 0; /* Add this to stretch the nav to the right edge of the viewport */
    z-index: 100;
    height: 60px;
    line-height: 60px;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    backdrop-filter: blur(10px); /* Frosted glass effect for supporting browsers */
  }

.logo a {
  font-size: 20px; 
  font-weight: bold; 
  color: #fff; 
  text-decoration: none; 
}

.logo a:hover {
  color: #02FEE4;
}

@media screen and (min-width: 768px) {
  .logo a {
    font-size: 1.5em; 
  }
}

@media screen and (min-width: 1024px) {
  .logo a {
    font-size: 2em;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none; 
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff; 
  text-decoration: none;
}

.nav-links a:hover {
  color: #02FEE4;
}

@media screen and (min-width: 768px) {
  .nav-links {
    font-size: 1.5em; 
  }
}

@media screen and (min-width: 1024px) {
  .nav-links {
    font-size: 1.5em;
  }
}

.main-container {
  min-width: 350px;
}

.main-content {
  display: flex;
  flex-direction: column; /* Keep column direction */
  align-items: flex-start; /* Align items to the start (left) horizontally */
  justify-content: flex-start; /* Align content to the start vertically */
  padding: 85px 1.5em 1.5em 1.5em; /* top, right, bottom, left */
  text-align: left; /* Left-align text for all screen sizes */
}

.button-container {
  display: flex; /* This enables Flexbox for the container */
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers the button vertically */
  margin-top: 20px; /* Adds space above the button container */
  margin-bottom: 150px; /* Adds space below the button container before the footer */
  padding: 20px 0; /* Example padding; adjust as needed */
}

/* See Tutorial for variants  https://www.youtube.com/watch?v=6xNcXwC6ikQ */

.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #aa00ff;
  border:3px solid #aa00ff;
  border-radius:  0.25em;
  padding: 0.5em 1.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.1), 0 0 0.8em #aa00ff;

  box-shadow: inset 0 0 0.5em 0 #aa00ff, 0 0 0.5em 0 currentColor;
  position: relative;

  transition: background-color 100ms linear;
}
  
.button::before {
  pointer-events: none;
  content:"";
  position: absolute;
  background: #aa00ff;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.8em);
  opacity: 0.7;
}

.button::after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #aa00ff;
  opacity: 0;
  transition: opacity 100ms linear;
}

.button:hover,
.button:focus {
  background: #aa00ff;
  color: #000;
  text-shadow: none;
}

.button:hover::after {
opacity: 1;
}

.main-content h1 {
  align-items: flex-start; /* Left-align items in flex container */
  font-size: 1.5em; /* Font size for h1 */
  font-weight: bold;
  margin-bottom: 1em; /* Space below h1 */
  color: #aa00ff;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.1), 0 0 0.8em #aa00ff;
}

.main-content p {
  font-size: 1em; /* Font size for p */
  font-weight: 200;
  line-height: 1.6; /* Increase line height for better readability */
  letter-spacing: 0.02em; /* Slight increase in letter spacing */
  margin-bottom: 1em; /* Space after each paragraph */
}

.main-content a {
  color: #aa00ff;
  text-decoration: underline;
}

.main-content a:hover {
  color: #02FEE4;
}


@media screen and (min-width: 768px) { /* Medium screens (tablets) */
  .main-content {
    padding: 100px 6em 1em 6em; /* Adjust padding for larger screens */
  }

  .main-content h1 {
    font-size: 2.5em; /* Larger font size for h1 on bigger screens */
  }

  .main-content p {
    font-size: 1.2em; /* Slightly larger font size for p */
  }
}


@media screen and (min-width: 1024px) { /* Large screens (desktops) */
  .main-content {
    padding: 150px 23em 2em 23em; /* Adjust padding for desktop screens */
  }

  .main-content h1 {
    font-size: 3em; /* Even larger font size for h1 on desktop */
  }

  .main-content p {
    font-size: 1.4em; /* Larger font size for p */
  }
}


footer {
  display: flex;
  flex-direction: column; /* Stack elements vertically on small screens */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  min-height: 100%; /* Use min-height */
  margin-top: auto; /* Pushes the footer */
  padding: 10px; /* Add padding */
  text-align: center; /* Center-align text */
  background-color: #000; /* Ensure visibility (change color as needed) */
}

.text-details {
  font-size: 0.8em; /* Default font size */
  font-family: sans-serif; /* Use a sans-serif font */
  font-weight: 200; /* Lighter font weight */
  line-height: 1.6; /* Increase line height for better readability */
  letter-spacing: 0.02em; /* Slight increase in letter spacing */
  margin-bottom: 1em; /* Space after each paragraph */
}

#handcoded-info, #last-updated, #copyright {
  font-size: 0.8em;
}

#handcoded-info {
  font-size: 1em;
}

#last-updated {
  font-style: italic;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row; /* Horizontal layout for larger screens */
    justify-content: space-between; /* Space out content */
    padding: 0 20px; /* Adjust padding */
    min-height: 60px; /* Maintain min-height */
  }
  
  #handcoded-info {
    order: 2; /* Middle */
  }

  #last-updated {
    order: 3; /* Right */
  }

  #copyright {
    order: 1; /* Left */
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 0 10em; /* Adjust padding */
  }

  #handcoded-info {
    order: 2; /* Middle */
  }

  #last-updated {
    order: 3; /* Right */
  }

  #copyright {
    order: 1; /* Left */
  }
}